#gameBoard img {
    width: 25%;
    height: 25%;
    padding: 5px;
    box-sizing: border-box;
}

body {
    background-image: url(../img/stockvault-city-skyline-at-sunset-113039.jpg);
    font-size: 18px;
    /*font-weight: 300; */
    background-size: cover;
    background-attachment: fixed;
}

main {
    color: #FFFFFF;
}

.gameBoard {
    position: relative;
}

button {
    color: #000000;
}

.explain {
    color: #000000;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 60%;
    background: rgba(240,238,200, 0.8);
    position:absolute;
    right: 20px;
    top: 130px;

}

